{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_listusers/manage


    Example context (json):
    {

    }
}}

{{#anyStudents}}
<table class="flexible table table-striped table-hover generaltable generalbox" id="participants">
  <thead>
    <tr>
  <th class="header c1" scope="col">
    Nazwa uzytkownika
  </th>
  <th class="header c2" scope="col">
    Nr dziennika
  </th>
  <th class="header c3" scope="col">
    Grupy
  </th>
  <th class="header c4" scope="col">
    Ostatni dostęp do kursu
  </th>
  <th class="header c4" scope="col">
    Działania
  </th>
</tr>
</thead>
<tbody>
{{/anyStudents}}
  {{#students}}
    <tr class="">
      <th class="cell c1" scope="row">
        <img src="/theme/image.php/school/core/1624652259/u/f2" class="userpicture defaultuserpic" alt="Obraz {{name}}" title="Obraz {{name}}" width="35" height="35">{{name}}
      </th>
      <td class="cell c2">{{nr_dziennika}}</td>
      <td class="cell c3">{{group}}</td>
      <td class="cell c4">{{lastaccess}}</td>
      <td class="cell c5">
        <div>
    <a href="/local/listusers/edit.php?id={{id}}" role="button" class="editenrollink" data-id="{{id}}" data-group="{{groupid}}" data-course="{{courseid}}" data-nr="{{nrdziennika}}" rel="40" data-action="editenrolment" title="Edytuj"><i class="icon fa fa-cog fa-fw " title="Edytuj zapisy" aria-label="Edytuj zapisy"></i></a>
    <a href="/enrol/unenroluser.php?page=0&amp;perpage=20&amp;contextid=0&amp;id=6&amp;newcourse&amp;ue=40" data-id="{{courseid}}-{{groupid}}-{{id}}" role="button" class="item-delete" rel="40" data-action="unenrol" title="Wypisz z kursu"><i class="icon fa fa-trash fa-fw " title="Wypisz z kursu" aria-label="Wypisz z kursu"></i></a>
</div>
      </td>
    </tr>
  {{/students}}

{{#anyStudents}}
</tbody></table>
{{/anyStudents}}
