{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_addteachers/list


    Example context (json):
    {

    }
}}

{{#anyTeachers}}
<table class="flexible table table-striped table-hover generaltable generalbox" id="participants">
  <thead>
    <tr>
  <th class="header c1" scope="col">
    Imię i nazwisko
  </th>
  <th class="header c3" scope="col">
    Klasy
  </th>
  <th class="header c4" scope="col">
    Ostatni dostęp do kursu
  </th>
  <th class="header c4" scope="col">
    Działania
  </th>
</tr>
</thead>
<tbody>
{{/anyTeachers}}
  {{#teachers}}
    <tr class="">
      <th class="cell c1" scope="row">
        <img src="/theme/image.php/school/core/1624652259/u/f2" class="userpicture defaultuserpic" alt="Obraz {{username}}" title="Obraz {{username}}" width="35" height="35">{{username}}
      </th>
      <td class="cell c3">{{#groups}}{{coursename}} {{name}} <a href="/enrol/unenroluser.php?page=0&amp;perpage=20&amp;contextid=0&amp;id=6&amp;newcourse&amp;ue=40" data-id="{{courseid}}-{{id}}-{{teacherid}}" role="button" class="item-delete" rel="40" data-action="unenrol" title="Wypisz z kursu"><i class="icon fa fa-trash fa-fw " title="Wypisz z kursu" aria-label="Wypisz z kursu"></i></a><br/>{{/groups}}</td>
      <td class="cell c4">{{lastaccess}}</td>
      <td class="cell c5">
        <div>
    <a href="/local/addteachers/edit.php?id={{id}}" role="button" class="editenrollink" data-id="{{id}}" rel="40" data-action="editenrolment" title="Dodaj"><i class="icon fa fa-cog fa-fw " title="Dodaj klasę" aria-label="Dodaj klasę"></i></a>
</div>
      </td>
    </tr>
  {{/teachers}}

{{#anyTeachers}}
</tbody></table>
{{/anyTeachers}}

<div class="form-group">
  <a href="/local/addteachers/manage.php" class="btn btn-secondary">Dodaj nauczyciela</a>
</div>
